* {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.nav-menu__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 40px;
}

.nav-menu__link {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #222222;
}

.header {
	padding: 50px 0;
	background-color: #fff;
}

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__wrap-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header__cart {
	margin-right: 12px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 0;
	background: transparent;
}

.btn--round {
	border-radius: 50%;
	padding: 10px;
	background-color: #f3fbf8;
}

.btn--register {
	padding: 10px 23px;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	background-color: #09a66d;
	border-radius: 8px;
}

.organic {
	background-color: #f3fbf8;
	padding: 92px 0 50px;
	position: absolute;
	width: 1440px;
	height: 850px;
	left: 0px;
	top: 149px;
}
.organic__img {
	position: absolute;
	width: 862.18px;
	height: 465.52px;
	left: 120.19px;
	top: 500.6px;
	background-blend-mode: darken;
}
.organic__title {
	position: absolute;
	width: 783px;
	height: 90px;
	left: 328.5px;
	top: 241.97px;
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 90px;
	color: #222222;
}
.organic__text {
	position: absolute;
	width: 637.01px;
	height: 90px;
	left: 401.49px;
	top: 351.97px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #555555;
	align-items: center;
}
.organic__order__text {
	position: absolute;
	width: 92px;
	height: 30px;
	left: 632px;
	top: 498.97px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #222222;
}
.organic__order__arrow__img {
	box-sizing: border-box;
	position: absolute;
	width: 32px;
	height: 0px;
	left: 760px;
	top: 513.97px;
	border: 2px solid #FFFFFF;
}
.organic__order {
	position: absolute;
	width: 250px;
	height: 116px;
	left: 1090px;
	top: 541px;
	background: #FFFFFF;
}
.organic__estimation {
	list-style: none;
}
.organic__estimation__users {
	position: absolute;
	width: 250px;
	height: 116px;
	left: 1090px;
	top: 541px;
}
.organic__estimation__img {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1123px;
	top: 571px;
	background: #F3FBF8;
}
.organic__estimation__users--30k {
	position: absolute;
	width: 90px;
	height: 48px;
	left: 1203.5px;
	top: 558px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #000000;
}
.organic__estimation__users--userorder {
	position: absolute;
	width: 91px;
	height: 30px;
	left: 1203px;
	top: 610px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}
.organic__estimation__stars {
	position: absolute;
	width: 250px;
	height: 116px;
	left: 1090px;
	top: 687px;
	background: #FFFFFF;
}
.organic__estimation__stars__img {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1123px;
	top: 717px;
	background: #F3FBF8;
}
.organic__estimation__stars--20k {
	position: absolute;
	width: 89px;
	height: 48px;
	left: 1210.5px;
	top: 704px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #000000;
}
.organic__estimation__stars--reviews {
	position: absolute;
	width: 104px;
	height: 30px;
	left: 1203px;
	top: 756px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}
.organic__estimation__object {
	position: absolute;
	width: 250px;
	height: 116px;
	left: 1090px;
	top: 833px;
	background: #FFFFFF;
}
.organic__estimation__object__img {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 1123px;
	top: 863px;
	background: #F3FBF8;
}
.organic__estimation__object--300 {
	position: absolute;
	width: 95px;
	height: 48px;
	left: 1203px;
	top: 850px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #000000;
}
.organic__estimation__object--items {
	position: absolute;
	width: 47px;
	height: 30px;
	left: 1227px;
	top: 902px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}
.we-best__title {
	position: absolute;
	width: 671px;
	height: 90px;
	left: 100.19px;
	top: 1139.89px;
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 90px;
	color: #222222;
}
.we-best__text {
	position: absolute;
	width: 637.01px;
	height: 90px;
	left: 100.19px;
	top: 1249.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #555555;
}
.we-best__img {
	position: absolute;
	width: 600px;
	height: 600px;
	left: 740.19px;
	top: 1317.89px;
	box-sizing: border-box;
	position: absolute;
	width: 600px;
	height: 600px;
	left: 740.19px;
	top: 1317.89px;
	border-radius: 41px;
}
.we-best__pluses {
	list-style: none;
}
.we-best__pluses__delivery {
	position: absolute;
	width: 381.45px;
	height: 80px;
	left: 159.47px;
	top: 1395.89px;
}
.we-best__pluses__delivery__img {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 159.47px;
	top: 1395.89px;
	background: #F3FBF8;
}
.we-best__pluses__delivery--faster {
	position: absolute;
	width: 225px;
	height: 30px;
	left: 263.47px;
	top: 1396.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #222222;
}
.we-best__pluses__delivery--text {
	position: absolute;
	width: 277.45px;
	height: 40px;
	left: 263.47px;
	top: 1434.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}
.we-best__pluses__online {
	position: absolute;
	width: 500px;
	height: 160px;
	left: 100.19px;
	top: 1535.89px;
	background: #F3FBF8;
}
.we-best__pluses__online__img {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 159.47px;
	top: 1575.89px;
	background: #FFFFFF;
}
.we-best__pluses__online--service {
	position: absolute;
	width: 198px;
	height: 30px;
	left: 263.47px;
	top: 1576.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #222222;
}
.we-best__pluses__online--text {
	position: absolute;
	width: 277.45px;
	height: 40px;
	left: 263.47px;
	top: 1614.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}
.we-best__pluses__service {
	position: absolute;
	width: 381.45px;
	height: 80px;
	left: 159.47px;
	top: 1755.89px;
}
.we-best__pluses__service__img {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 159.47px;
	top: 1755.89px;
	background: #F3FBF8;
}
.we-best__pluses__service--aroundtheclock {
	position: absolute;
	width: 122px;
	height: 30px;
	left: 263.47px;
	top: 1756.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #222222;
}
.we-best__pluses__service--text {
	position: absolute;
	width: 277.45px;
	height: 40px;
	left: 263.47px;
	top: 1794.89px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
}
.we-best__arrow {
	box-sizing: border-box;
	position: absolute;
	width: 32px;
	height: 0px;
	left: 341.44px;
	top: 1885.89px;
	border: 2px solid #09A66D;
	transform: rotate(90deg);
}
.footer {
	position: absolute;
	width: 1440px;
	height: 435px;
	left: 0px;
	top: 4319px;
	background: #FCFEFD;
}
.footer__text {
	position: absolute;
	width: 345.36px;
	height: 150px;
	left: 100px;
	top: 4485.72px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #555555;
}
.footer__logo {
position: absolute;
width: 70px;
height: 70px;
left: 100px;
top: 4385.79px;
}
.footer__nav__text--big {
	position: absolute;
	width: 120px;
	height: 31px;
	left: 602.37px;
	top: 4424.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #222222;
}
.footer__nav__text--about {
	position: absolute;
	width: 77px;
	height: 23px;
	left: 602.37px;
	top: 4495.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__nav__text--service {
	position: absolute;
	width: 62px;
	height: 23px;
	left: 602.37px;
	top: 4543.48px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__nav__text--menu {
	position: absolute;
	width: 47px;
	height: 23px;
	left: 602.37px;
	top: 4590.48px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__resources__text--big {
	position: absolute;
	width: 118px;
	height: 31px;
	left: 865.23px;
	top: 4424.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #222222;
}
.footer__resources__text--reviews {
	position: absolute;
	width: 67px;
	height: 23px;
	left: 865.23px;
	top: 4495.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__resources__text--blog {
	position: absolute;
	width: 36px;
	height: 23px;
	left: 865.23px;
	top: 4543.48px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__resources__text--news {
	position: absolute;
	width: 111px;
	height: 23px;
	left: 865.23px;
	top: 4590.48px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #555555;
}
.footer__ul {
	list-style: none;
}
.footer__contact__text--big {
	position: absolute;
	width: 127px;
	height: 31px;
	left: 1126.1px;
	top: 4424.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #222222;
}
.footer__contact__text--email {
	position: absolute;
	width: 215px;
	height: 23px;
	left: 1126.1px;
	top: 4495.79px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #222222;
}
.footer__contact__facebook {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1126.1px;
	top: 4543.79px;
}
.footer__contact__twitter {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1200.1px;
	top: 4543.79px;
}
.footer__contact__instagram {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1274.1px;
	top: 4543.79px;
}